# This is the Python Tutorial

Our First Progarm in Python

In [54]:
print('Hello World')

Hello World

Write formula inside dollar symbols for special look like

$a=b+c^2$

# Variable

In [55]:
x = 6

%whos is used to show all the variables currently in memory

In [56]:
%whos

Variable     Type     Data/Info
-------------------------------
G            tuple    n=2
a            bool     True
b            bool     True
c            bool     True
d            bool     False
num1         float    3.3333333333333335
r            int      -3
s            str      Hello to the World
s1           str      Hello
s2           str      World
s3           str      HelloWorld
sumofaAndb   float    8.3
v            float    54.0
x            int      6
y            float    43.43
z            float    8.3

In [57]:
print(type(x))

<class 'int'>

In [58]:
a, b, c, d = 2, 6.3, 9, -4

In [59]:
%whos

Variable     Type     Data/Info
-------------------------------
G            tuple    n=2
a            int      2
b            float    6.3
c            int      9
d            int      -4
num1         float    3.3333333333333335
r            int      -3
s            str      Hello to the World
s1           str      Hello
s2           str      World
s3           str      HelloWorld
sumofaAndb   float    8.3
v            float    54.0
x            int      6
y            float    43.43
z            float    8.3

In [60]:
del x

In [61]:
%whos

Variable     Type     Data/Info
-------------------------------
G            tuple    n=2
a            int      2
b            float    6.3
c            int      9
d            int      -4
num1         float    3.3333333333333335
r            int      -3
s            str      Hello to the World
s1           str      Hello
s2           str      World
s3           str      HelloWorld
sumofaAndb   float    8.3
v            float    54.0
y            float    43.43
z            float    8.3

In [1]:
c = 2 - 5j
print(type(c))
d = 4 + 7j
print(c+d)

<class 'complex'>
(6+2j)

In [63]:
%whos

Variable     Type       Data/Info
---------------------------------
G            tuple      n=2
a            int        2
b            float      6.3
c            complex    (2-5j)
d            int        -4
num1         float      3.3333333333333335
r            int        -3
s            str        Hello to the World
s1           str        Hello
s2           str        World
s3           str        HelloWorld
sumofaAndb   float      8.3
v            float      54.0
y            float      43.43
z            float      8.3

In [64]:
s = "Hello to the World"
print(type(s))

<class 'str'>

# Operators

In [65]:
%whos

Variable     Type       Data/Info
---------------------------------
G            tuple      n=2
a            int        2
b            float      6.3
c            complex    (2-5j)
d            int        -4
num1         float      3.3333333333333335
r            int        -3
s            str        Hello to the World
s1           str        Hello
s2           str        World
s3           str        HelloWorld
sumofaAndb   float      8.3
v            float      54.0
y            float      43.43
z            float      8.3

In [66]:
sumofaAndb = a + b
print(sumofaAndb)

8.3

In [67]:
type(sumofaAndb)

float

In [68]:
v = ((a + 4)**3)/4
print(v)

54.0

In [69]:
s1 = 'Hello'
s2 = 'World'
s3 = s1 + s2
print(s3)

HelloWorld

In [7]:
num1 = 10//3
print(num1)
print(type(num1))
num1 = 10/3
print(num1)
print(type(num1))

3
<class 'int'>
3.3333333333333335
<class 'float'>

Underscore serves as the defaut variable if any value is not saved in a particular variable

In [8]:
_

''

# Bool

In [73]:
a = True
b = True
c = False

In [74]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [75]:
print(a or c)

True

In [76]:
print(not(a))
print(not(b))
print(not(c))

False
False
True

In [77]:
print(not((a and b) or (c or d)))

False

# Comparisons

In [78]:
print(2 > 3)

False

In [79]:
c = 2 < 3
print(type(c))
print(c)

<class 'bool'>
True

In [80]:
d = 3 == 4
print(d)

False

In [81]:
x = 4
y= 9
z = 8.3
r = -3

In [82]:
(x<y) and (z<y) or (r==z)

True

In [83]:
False or False and True

False

In [84]:
print((not(2!=3) and True) or (False and True))

False

# Useful Functions

$round(x, y)$

In [85]:
print(round(4.556))

5

In [86]:
print(round(4.556))

5

In [87]:
print(round(3.345))

3

In [88]:
print(round(3.556789,2))

3.56

$divmod(x,y)$

It returns a tuple containing quotient and remainder Like

In [89]:
G = divmod(34,5)

In [90]:
print(type(G))
print(G)

<class 'tuple'>
(6, 4)

In [91]:
G[0]

6

In [92]:
G[1]

4

$isinstance(x,datatype)$

returns a boolean value by checking the x value

In [93]:
isinstance(3,int)

True

In [94]:
isinstance(3.5,bool)

False

In [95]:
isinstance(True,int)

True

In [96]:
isinstance(2+3j,(int,str,complex))

True

$pow(x, y, z)$ x raise to the power y and remainder by z

In [97]:
pow(2, 4)

16

In [98]:
2 ** 4

16

In [99]:
pow(2, 5, 5)

2

$input()$

a = input("Enter some value:")
Here, a always will be of string data type

In [100]:
x = input('Enter a number: ')

Enter a number: 56

In [101]:
type(x)

str

In [102]:
x = int(x)
type(x)

int

In [103]:
y = float(input('Enter a real value: '))
type(y)

Enter a real value: 45

float

$ fun-name? $ : for getting a help about a particular fun or keyword etc.

In [9]:
isinstance??

$help(fun-name)$

In [105]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

# Control Flow in Python

## if condition

In [108]:
a = int(input())
b = int(input())
if a > b:
    print(a)
    print('a is greater than b')
print('Program Ends')

3
2
3
a is greater than b
Program Ends

In [107]:
a = int(input())
b = int(input())
if a > b:
    print(a)
if b > a:
    print(b)

5
3
5

## if-else condition

In [109]:
a = int(input())
b = int(input())
if a > b:
    print(a)
    print('if part')
else:
    print(b)
    print('else part')

4
7
7
else part

## if-elif-else

In [110]:
a = 6
b = 10
if a == b:
    print('Equal')
elif a > b:
    print(a)
else:
    print(b)
print('if structure ends')

10
if structure ends

One liner for if condition of above code

In [115]:
a, b = int(input()), int(input())

print('Equal') if a == b else print(a) if a > b else print(b) if b > a else print(None)

56
67
67

In [119]:
m = int(input('Enter your marks: '))
if m >= 90:
    print('A Grade')
elif m < 90 and m >= 85:
    print('A- Grade')
elif m < 85 and m >= 80:
    print('B Grade')
elif m < 80 and m >= 75:
    print('B- Grade')
elif m < 50:
    print('Fail')
else:
    print('Below Average')

Enter your marks: 111
A Grade

## Nested if

In [121]:
a = int(input('Enter your age: '))
if a > 10:
    print("You're above 10")
    if a > 20:
        print("You're also above 20")
    else:
        print("But below 20")
print('Nested if ends')

Enter your age: 45
You're above 10
You're also above 20
Nested if ends

In [124]:
# Problem Statement
'''
User will enter a fl78oating point number lets say 238.784.
Your task is to find out the intger portion, before the point. (in this case 238)
and then checks if that integer portion is even or not?
'''
a = float(input('Enter a floating point number: '))
a = int(a)
print('Your input intger part is', a)
if a % 2 == 0:
    print(a,'is even')
else:
    print(a, 'is odd')

Enter a floating point number: 56.094
Your input intger part is 56
56 is even

## Loops

In [127]:
n = int(input('Input Loop length: '))
i = 0
while i < n:
    print(i ** 2)
    i += 1
print('Loops Ends')

Input Loop length: 4
0
1
4
9
Loops Ends

Use of Break Statemnt

In [128]:
i = 1
while True:
    if i % 9 == 0:
        print('i is 9')
        break
    else:
        print('Else part')
        i += 1
print('Done')

Else part
Else part
Else part
Else part
Else part
Else part
Else part
Else part
i is 9
Done

Use of Continue Statment

In [129]:
i = 1
while True:
    if i % 9 != 0:
        print('inside if')
        i += 1
        continue
    print('Iteration', i)
    break
print('Done')

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
Iteration 9
Done

In [130]:
L = []
for i in range(1, 20, 2):
    print(i)
    L.append(i ** 2)
print(L)

1
3
5
7
9
11
13
15
17
19
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

for loop with else part

else part will only execute when the for loop iterations are completed accordingly

In [225]:
S = {'Apple', 4.9, 'Cherry'}
i = 0
for x in S:
    print(x)
    i += 1
    if i == 2:
        break
else:
    print('S iterations completed')

4.9
Cherry

In [232]:
D = {'A':1, 'B':2, 'C':'abc'}
for i in D:
    print(i, D[i])

A 1
B 2
C abc

Practice Problem

In [233]:
# Problem Statement
'''
Given a list of numbers i.e., [1,2,4,-5,7,9,3,2], make another list contains
all the items in sorted order from min to max. Your result will be another
list like [-5,1,2,2,3,4,7,9]
'''
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j, len(L)):
        if L[i] < m:
            m = L[i]
            idx = c
        c += 1
    temp = L[j]
    L[j] = m
    L[idx] = temp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [1]:
def printSuccess():
    '''
    This is the Doc string of printSuccess function. This function is an indication of task has done
    '''
    print('I am Done')
    print('Give me another oen')

In [2]:
help(printSuccess)

Help on function printSuccess in module __main__:

printSuccess()
    This is the Doc string of printSuccess function. This function is an indication of task has done

In [3]:
printSuccess??

Pass Argument to Function

In [5]:
def printMsg(msg):
    '''This function is implemented to print only data of string type
    for other data types, it will generate an error'''
    if isinstance(msg, str):
        print(msg)
    else:
        print('Given Argument is not of type string')
        print('Passed argument data type is: ',type(msg))

In [6]:
printMsg("Hello World")

Hello World

In [7]:
printMsg(3)

Given Argument is not of type string
Passed argument data type is:  <class 'int'>

In [8]:
help(printMsg)

Help on function printMsg in module __main__:

printMsg(msg)
    This function is implemented to print only data of string type
    for other data types, it will generate an error

Pass multiple arguemnts to function

In [12]:
def mypower(a,b):
    '''This function works same as the built-in pow() does'''
    print(a**b)
mypower(2,4)

16

In [13]:
def checkArg(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print('Error: Passed Arguments are not of Expected Data type')

In [14]:
checkArg(3,6,9)
checkArg(6,2,'D')

324
Error: Passed Arguments are not of Expected Data type

**Order of passed arguments**

Order of the passed arguments also have importance
for different order, we have to mention variable name while calling the function

In [17]:
def f(a, b, c):
    print('A is ',a)
    print('B is ',b)
    print('C is ',c)

In [19]:
f(3, 5.6, 'Hello')

A is  3
B is  5.6
C is  Hello

In [21]:
f(a = 4.99, b = 'Game', c = 3)

A is  4.99
B is  Game
C is  3

In [23]:
f(c = 'p', a = 'World', b = 24)

A is  World
B is  24
C is  p

**return statement**

In [29]:
def myadd(a, b):
    c = a + b
    return c

In [31]:
d = myadd(4, 8)
print(d)

12

In [40]:
# variable outside the function
var = 3

In [11]:
def d():
    var = 5
#     print(var)

In [12]:
d()

In **python** every function always return something though it may be $None$

In [53]:
print(d())
print(type(d()))

None
<class 'NoneType'>

In [44]:
print(var)

3

No statemnet after $return$ statement will be executed

In [55]:
def h():
    print('A')
    a = 4
    b = 5
    print('Something')
    return
    print(a)
    print(b)

In [56]:
h()

A
Something

We can return multiple arguments to from a function,

and it will be recieved in the same order like:

In [57]:
def r():
    a = 7
    b = 90
    c = 'Something'
    return a, b, c

In [58]:
a1, a2, a3 = r()
print(a1, a2, a3)

7 90 Something

**Variable number of passed arguments to a function**

In [60]:
def myAddUniversal(*args):
    s = 0
    for i in range(len(args)):
        s += args[i]
    return s

In [63]:
val1 = myAddUniversal(3, -5, 45, 4, 12)
print(val1)
val2 = myAddUniversal(-5, 45, 12)
print(val2)
val3 = myAddUniversal(-5, 45, 12, 6, 90, 73)
print(val3)
val4 = myAddUniversal(-5, 45)
print(val4)

59
52
221
40

**Variable number of passed arguments with variable name and value**

In [68]:
def printVariableNameandValue(**args):
    for x in args:
        print('The Variable name is:', x, 'and its value is', args[x])

In [70]:
printVariableNameandValue(a = 5, b = 'CS', c = 'Computer Science', d = 8.99098, e = ";", last = 44)

The Variable name is: a and its value is 5
The Variable name is: b and its value is CS
The Variable name is: c and its value is Computer Science
The Variable name is: d and its value is 8.99098
The Variable name is: e and its value is ;
The Variable name is: last and its value is 44

**default value as an argument to a function**

In [13]:
def gg(s = 4):
    print(s)

In [15]:
gg()

4

In [17]:
gg(6)

6

**Deep copy** and **Shallow copy** concept

- **Deep copy** stores copies of the object's value.
- **Shallow copy** reflects changes made to the new/copied object in the original object.
- **Deep copy** doesn't reflect changes made to the new/copied object in teh original object.
- **Shallow Copy** stores the copy of the original object and pointsteh references to tehh objects.

When we call a function with a value passed as argument; it will produce a shallow copy of object passed to variable.i.e., value is passed as reference as in above case.

In [21]:
# Shallow copy Example
L1 = [1,2,3]
L2 = L1
L2[0] = 12
print(L1)

[12, 2, 3]

# Modules

We can create our own module and use them in our other programs by importing them.
Process is as follows:
1. Create '.py' file with all your functions and classes to use them for future.
2. Add the path of that directory to system paths as in the given cell
3. And just simply import them to use them in your program

In [8]:
import sys
for i in sys.path:
    print(i)
# sys.path.append('D:\Python Language\Self_Made_Modules')

# Running above line everytime add it to path so doesn't need to do so 1 move is enough
print('---------------------------------------')
# for i in sys.path:
#     print(i)

D:\Python Language\DataScience Path\Python for Data Science Beginner
C:\ProgramData\Anaconda3\python38.zip
C:\ProgramData\Anaconda3\DLLs
C:\ProgramData\Anaconda3\lib
C:\ProgramData\Anaconda3

C:\ProgramData\Anaconda3\lib\site-packages
C:\ProgramData\Anaconda3\lib\site-packages\win32
C:\ProgramData\Anaconda3\lib\site-packages\win32\lib
C:\ProgramData\Anaconda3\lib\site-packages\Pythonwin
C:\ProgramData\Anaconda3\lib\site-packages\IPython\extensions
C:\Users\pcomputer\.ipython
D:\Python Language\Self_Made_Modules
---------------------------------------

In [9]:
import My_Universal_Functions as my_funs

In [10]:
my_funs.addAllnumerics??

In [11]:
print(my_funs.addAllnumerics(3,5.6,7,12,34,49.21))

110.81

If we want to import a single module, then:

In [12]:
from My_Universal_Functions import checkIfNotnumeric

In [13]:
print(checkIfNotnumeric(5,66.7))
print(checkIfNotnumeric(5,"j"))

True
False

If we want to import all the modules in our program and we want to use them without . operator like(math.ceil), then we'll import it as

In [20]:
# from math import *
import math

This will import all the functions of module _'math'_ and now we can call with out **. operator**

## Practice of Functions

In [46]:
'''
Given a list of numbers i.e., [1,2,4,-5,7,9,3,2], make another list contains
all the items in sorted order from min to max. Your result will be another
list like [-5,1,2,2,3,4,7,9]
'''
def findMin(L, startIndex):
    '''
    will return a minimum function and its index in the list
    '''
    m = L[startIndex]
    idx = startIndex
    for i in range(startIndex, len(L)):
        x = L[i]
        if x < m:
            m = x
            idx = i
        i += 1
    return m, idx

In [48]:
a, b = findMin([2,6,9,1,4,5,2],4)
print(a,b)

2 6

In [35]:
def swapValues(L, idx1, idx2):
    temp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = temp
    return L

In [49]:
L = [8,4,3,2,9]
print(swapValues(L, 1, 4))

[8, 9, 3, 2, 4]

In [51]:
def checkIfNotnumeric(L):
    for x in L:
        if not(isinstance(x, (int, float))):
            return False
    return True

In [65]:
def sortList(L):
    '''
    Sort a Numeric valued list and return it.
    '''
    if not(checkIfNotnumeric(L)):
        print('Error: List does not contain numeric values.')
        return
    else:
        c = 0 
        for x in L:
            m, idx = findMin(L, c)
            L = swapValues(L, c, idx)
            c += 1
    return L

In [66]:
print([3,2,8,-1,4,-9,5])
print(sortList([3,2,8,-1,4,-9,5]))

[3, 2, 8, -1, 4, -9, 5]
[-9, -1, 2, 3, 4, 5, 8]

# Strings

In [2]:
s = "Python is a good language."
t = 'Its good for data science.'

In [3]:
print(type(s))

<class 'str'>

In [4]:
print(s)

Python is a good language.

**String Concatination**

In [5]:
e = s + t
print(e)

Python is a good language.Its good for data science.

In [6]:
price = 400
s = "The price of this book"
v = s + " is: " + str(price)
print(v)
print(s, "is:", price)

The price of this book is: 400
The price of this book is: 400

**Multiline strings**

In [7]:
a = """This is the 1st line
This is the 2nd line
This is the last line and its 3rd line
"""

In [8]:
print(a)

This is the 1st line
This is the 2nd line
This is the last line and its 3rd line

In [9]:
print("""These following options are available currently:
            -a        :Do nothing
            -b        :Also here do nothing""")

These following options are available currently:
            -a        :Do nothing
            -b        :Also here do nothing

This is how the multiline comment will appear:

`'''This function is implemented to print only data of string type
    for other data types, it will generate an error'''`

**String Indexing and Slicing**

In [10]:
s = "How are you and who are you?"
print(s[5])

r

In [11]:
print(type(s[5]))

<class 'str'>

In [12]:
print(s[0:10])

How are yo

In [13]:
print(s[-1])
print(s[-3])
print(s[-6])
print(s[-12:-3])

?
o
e
who are y

In [14]:
# Assigning a value to a string index is not possible
# s[4] = "o"    # is not allowed

`s[start:end:jump]` is also a syntax fo string traversal

In [15]:
print(s[0:12:2])

Hwaeyu

`s[start:]
s[:end]`
is also a syntax for string slicing

In [16]:
print(s[:15])

How are you and

In [17]:
print(s[4:])

are you and who are you?

In [18]:
print(s[2:8])

w are

In [19]:
# for reversing string in a quick way is:
print(s[::-1])

?uoy era ohw dna uoy era woH

**String Functions**

In [21]:
intro = "    Hello, there       My name is Daud Ahmad      "
print(intro)

    Hello, there       My name is Daud Ahmad

In [23]:
# strip function removes all the extra spaces at the beginning and end of a statement.
print(intro.strip())

Hello, there       My name is Daud Ahmad

In [26]:
s1 = "AB C d efghiJKL ;; MNO xYZ"
print(s1.lower())
print(s1.upper())

ab c d efghijkl ;; mno xyz
AB C D EFGHIJKL ;; MNO XYZ

In [28]:
# replace function replace all the occurences of a string the given string with the provided one
print(s1.replace(";", "$"))

AB C d efghiJKL $$ MNO xYZ

In [30]:
print(s1.replace(";;","two semicolons"))

AB C d efghiJKL two semicolons MNO xYZ

In [33]:
s2 = "Ali;Daud;Usman;Abdullah;Subhan;Shahbaz"
L = s2.split(";")

In [37]:
print(L[2])

Usman

In [41]:
# In operator can be used to find a string in another string as a part of...
"ABC" in "DJLKUSAOABCJLKJ"

True

In [47]:
# It is also possible to apply bolean operators on string i.e.,
print("ABC" == "abc")

False

**Escape Sequences** available in python

`\n  \t  \'  \"  \\`

In [56]:
print("Hello there, Welcome session 21\'. We are glad to see \"You\" here.")

Hello there, Welcome session 21'. We are glad to  see "You" here.

In [65]:
print("Hello\nWelcome to the \tWorld of Programming.")

Hello
Welcome to the 	World of Programming.

In [73]:
# print("c:\\Users\\Usman") # cannot  print the directory path as it is for that:
print("c:\\Users\\Usman")
print(r"c:\Users\Usman")  # append 'r' for specifing as raw string

c:\Users\Usman
c:\Users\Usman

# Data Structures

- List:  `(      Ordered            Changable                      Duplicates)`
- Tuple: `(    Ordered            Unchangable                    Duplicates)`
- Set:   `(      Unordered          addable\removeable             no duplicates)`
- Dictionary: `( Unordered          Changable                      no duplicates)`

|           List        |  Tuple              | Set                       |  Dictionary                       |
|:----------------------|:--------------------|:--------------------------|:----------------------------------|
|L=[12,"Banana", 5.3]   |T=(12,"Banana",5.3)  |S={12,"Banana",5.3}        |D={"val":12,"name":"Ban"}          |
|L[1]                   |T[2]                 |X in S                     |D["val"]                           |
|L=L+["game"]           |Immutable            |S.add("new Item")          |D["val"]=newVal                    |
|L[2]="Orange"          |T3=T1+T2             |S.update({"more","items"}) |D["newKey"]="newVal"               |
|del L[1]               |Immutable            |S.remove("Banana")         |del D["val"]                       |
|del L                  |del T                |del S                      |del D                              |
|L2=L.copy              |T2=T                 |S2=S.copy()                |D2=D.copy()                        |

*Note: **Immutable** means we cannot insert, update, or delete an element from that particular data structure...!*

**Creation**

In [2]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree","B":43,'C':'CCD'}

# Dictionary is somewhere like set

In [4]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

**Accessing elements**

In [5]:
print(L[1])
print(T[1])
print(1 in S)
print(D[23])

3
3
True
twothree

In [8]:
print(D['B'])

43

In [9]:
print(S)

{1, 3, 4.9, 'name'}

**Slicing**

In [12]:
print(L)

[1, 3, 4.9, 'name', 3]

In [14]:
print(L[1:3])

# Same as in string

[3, 4.9]

In [15]:
# For reversing a list
print(L[::-1])

[3, 'name', 4.9, 3, 1]

In [17]:
print(L[:3])

[1, 3, 4.9]

In [20]:
# Same is in the case of Tuple
print(T[2:])

(4.9, 'name', 3)

**Add elements**

In [21]:
L = L + ['How', 'are', 6, 'You']

In [22]:
print(L)

[1, 3, 4.9, 'name', 3, 'How', 'are', 6, 'You']

In [23]:
L.append(6.9)

In [24]:
print(L)

[1, 3, 4.9, 'name', 3, 'How', 'are', 6, 'You', 6.9]

In [25]:
# For Tuple
T2 = (4, 6, 'nine')
T3 = T + T2

In [26]:
print(T3)

(1, 3, 4.9, 'name', 3, 4, 6, 'nine')

In [27]:
print(S)

{1, 3, 4.9, 'name'}

In [28]:
S.add(60)

In [50]:
print(S)

{1, 3, 4.9, 'name', 60}

In [52]:
S.update({25, 'game', 2.0})

In [59]:
print(S)

{1, 2.0, 3, 4.9, 'name', 25, 60, 'game'}

In [60]:
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [61]:
D['newKey'] = "new value"

In [62]:
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'new value'}

In [76]:
# Adding up two dictionaries is not possible. however, we can use **update function**

In [77]:
D2 = {'one':1, 'two':2}

In [78]:
D.update(D2)

In [79]:
print(D)

{'B': 43, 'C': 'CCD', 'newKey': 'new value', 'one': 1, 'two': 2}

In [80]:
print(L)

[1, 3, 4.9, 'name', 'How', 'are', 6, 'You', 6.9]

**Removing Elements**

In [68]:
del L[4]

In [69]:
print(L)

[1, 3, 4.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [70]:
print(S)

{1, 2.0, 3, 4.9, 'name', 25, 60, 'game'}

In [71]:
S.remove('game')

In [72]:
print(S)

{1, 2.0, 3, 4.9, 'name', 25, 60}

In [73]:
print(D)

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'new value'}

In [74]:
del D[23]

In [75]:
print(D)

{'B': 43, 'C': 'CCD', 'newKey': 'new value'}

**Making a copy**

In [81]:
print(L)

[1, 3, 4.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [82]:
L2 = L

In [83]:
print(L2)

[1, 3, 4.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [85]:
L2[2] = 5.9
print(L2)

[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [87]:
print(L)

[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [89]:
# Here is **Shallow Copy** created in above case

In [90]:
# To make deep copy of list we use copy() method
L2 = L.copy()

In [94]:
print(L)
print(L2)

[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]
[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [96]:
L2[1] = 'three'

In [97]:
print(L)
print(L2)

[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]
[1, 'three', 5.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [99]:
L3 = L[2:5]
print(L3)
# In above case,(in slicing) deep copy is always created

[5.9, 'name', 'How']

In [101]:
# Also, there is no concept of making a copy of tuple using copy method, because there we cannot change tuple,
# we can simply use:
# T2 = T

**Methods and functions for List, Tuple, Set and Dictionaries:**

In [105]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [107]:
help(S.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [109]:
help(T.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [111]:
help(D.items)

Help on built-in function items:

items(...) method of builtins.dict instance
    D.items() -> a set-like object providing a view on D's items

**Practice and more in-depth**

In [112]:
D3 = {'A':L, 'B':T, 'C':S, 'D':D}

In [115]:
print(D3['A'])

[1, 3, 5.9, 'name', 'How', 'are', 6, 'You', 6.9]

In [117]:
print(D3['B'][2])
# Accessing tuple's third element

4.9

In [121]:
K = D3['D']

In [122]:
print(K)

{'B': 43, 'C': 'CCD', 'newKey': 'new value', 'one': 1, 'two': 2}

In [120]:
for x in K:
    print(x, D[x])

B 43
C CCD
newKey new value
one 1
two 2

In [124]:
# Similarly
L4 = [L,D,T,23,'Over']

In [126]:
print(type(L4[1]))
# Point to be noted

<class 'dict'>

In [128]:
L3 = [x**2 for x in range(10)]
print(L3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [134]:
S3 = {x**2 for x in range(2,20,3)}
print(S3)

{64, 121, 289, 196, 4, 25}

In [141]:
# Problem statement
'''
Lets say you are a teacher and you have different students record containing ID of student, 
marks list in each suject; where different students have taken different number of subjects. 
All these records are in hard copy. You want to enter all the data in computer and want to 
compute the average marks of each student and display.
'''

def getDataFromUser():
    D = {}
    while True:
        studentID = input("Enter student ID: ")
        marksList = input("Enter marks by comma seprated values: ")
        if studentID in D:
            print(studentID, "is already inserted")
        else:
            D[studentID] = marksList.split(',')
        moreStudents = input('Enter "No" to quit insertion: ')
        if moreStudents.lower() == 'no':
            return D

In [153]:
studentData = getDataFromUser()

Enter student ID: 601
Enter marks by comma seprated values: 56,89,95,67
Enter "No" to quit insertion: kjl
Enter student ID: 605
Enter marks by comma seprated values: 66,88,39,90
Enter "No" to quit insertion: jlkj
Enter student ID: 601
Enter marks by comma seprated values: 89,809,99
601 is already inserted
Enter "No" to quit insertion: lk
Enter student ID: 602
Enter marks by comma seprated values: 78,27,99,41
Enter "No" to quit insertion: no

In [158]:
print(studentData)

{'601': ['56', '89', '95', '67'], '605': ['66', '88', '39', '90'], '602': ['78', '27', '99', '41']}

In [155]:
print(getDataFromUser())

Enter student ID: 87
Enter marks by comma seprated values: 34,3
Enter "No" to quit insertion: no
{'87': ['34', '3']}

In [164]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [165]:
avgM = getAvgMarks(studentData)

In [167]:
print(avgM)

{'601': 76.75, '605': 70.75, '602': 61.25}

In [170]:
for x in avgM:
    print(f"Student {x} got {avgM[x]} as average marks.")

Student 601 got 76.75 as average marks.
Student 605 got 70.75 as average marks.
Student 602 got 61.25 as average marks.